body{
  background-color: rgb(254,254,254);
    overflow-x: hidden;
}
#adgLogo{
  width: 40%;
  height: auto;
  margin-top: -10%;
}
.container-fluid{
  background-color: rgb(11,11,11);
}
#navLinks li:hover{
  transition: 0.5s;
  font-size: 120%;
  background-color: rgb(75,75,77);
}
#navBar{
  background-color: rgb(43,43,43);
}
.container{
  width: 100%;
  margin: 0;
}
#delDesign{
  position: fixed;
  background-color: rgb(129,129,129);
  min-height: 64vh;
  width: 4%;
}
#wasteSpace{
  min-height: 56vh;
}
#delta{
  width:100%;
}
#eventsHead{
  text-align: center;
  padding-bottom: 4%;
}
#eventsHead h2{
  color: rgb(56,56,56);
}
#eventsHead h6{
  color: rgb(213,213,213);
}
#wasteSpace2{
  min-height: 11vh;
}
#img1{
  width:100%;
}
#event1Image{
  padding: 0;
}
#event1{
  padding: 0;
  margin-bottom: 10%;
  box-shadow: 7px 7px 6px #888888;
}
#iconsNet h5 a{
  color: rgb(118,118,118);
}
#event1:hover{
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 7px 7px 15px #888888;
}
#modalImage1{
  width:100%;
}
#event1:hover{
  transition: 0.5s;
  width: 104%;
}
#eventModal1{

}
#mainModal{
  text-align: justify;
  padding: 1.5%;
  background-color: black;
}
.main-text
{
    position: absolute;
    top: 5%;
    width: 96.66666666666666%;
    color: #FFF;
}
#imgCarousel{
  width: 100%;
  margin: 0;
}
#carouselImages1{
  height: 50vh;
  width: 100%;
  margin: 0;
}
#img1{
  height: 50vh;
}
#img1:hover{
  transition: 0.5s;
  height: 52vh;
}
.sec2Logo{
  display: flex;
  top: 0%;
  left: 0%;
  width: 10vh;
  margin-top: -5%;
}
