body{
  background-color: rgb(21,21,21);
    overflow-x: hidden;
}
.container{
  width: 100%;
  margin: 0;
}
#adgLogo{
  width: 40%;
  height: auto;
  margin-top: -10%;
}
.container-fluid{
  background-color: rgb(11,11,11);
}
#navLinks li:hover{
  transition: 0.5s;
  font-size: 120%;
  background-color: rgb(75,75,77);
}
#navLinks li{

}
.mainSlide{
  background-color: silver;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding-top: 40vh;
  text-align: center;
}
