body{
  background-color: rgb(254,254,254);
    overflow-x: hidden;
}
#adgLogo{
  width: 40%;
  height: auto;
  margin-top: -10%;
}
.container-fluid{
  background-color: rgb(11,11,11);
}
#navLinks li a{
  font-size: 1.12em;
}
#navLinks li:hover{
  transition: 0.5s;
  font-size: 120%;
  background-color: rgb(75,75,77);
}
#navBar{
  background-color: rgb(43,43,43);
  -webkit-box-shadow: 1px 2px 20px 1px rgba(0,0,0,0.29);
  -moz-box-shadow: 1px 2px 20px 1px rgba(0,0,0,0.29);
  box-shadow: 1px 2px 20px 1px rgba(0,0,0,0.29);
}
.container{
  width: 100%;
  margin: 0;
}
#delDesign{
  position: fixed;
  background-color: rgb(129,129,129);
  min-height: 60vh;
  width: 4%;
}
#wasteSpace{
  min-height: 56vh;
}
.modal-dialog{
  position:relative;

  top:40%;
}
#delDesign{
  position: fixed;
  background-color: rgb(129,129,129);
  min-height: 64vh;
  width: 4%;
}
#delta{
  width:100%;
}
#modalImage1{
  width:100%;
}
#mainModal{
  text-align: center;
  padding: 1.5%;
}
#iphoneFrame{
  background: url('img/del.png');
}
