body{
  background-color: #212121;
    overflow-x: hidden;
    color: rgb(216,216,226);
}
#adgLogo{
  width: 40%;
  height: auto;
  margin-top: -10%;
}
.container-fluid{
  background-color: rgb(11,11,11);
}
#navLinks li:hover{
  transition: 0.5s;
  font-size: 120%;
  background-color: rgb(75,75,77);
}
#navBar{
  background-color: black;
}
.container{
  width: 100%;
  margin: 0;
}
#delDesign{
  position: fixed;
  background-color: rgb(53,53,53);
  min-height: 60vh;
  width: 4%;
}
#wasteSpace{
  min-height: 56vh;
}
#delDesign{
  position: fixed;
  background-color: rgb(53,53,53);
  min-height: 64vh;
  width: 4%;
  z-index: 2;
}
#delta{
  width:100%;
}
